body{zoom: 70%;
        width: auto;
        font-family: "Barlow", sans-serif;
}

h1 h2 h3 h5{font-family: "Fraunces", serif;
}
.imgheader{
        background-image: url(/images/mobile/image-header.jpg);
        background-position: center;
        width:100% ;
        height:100vh;

}
/* header #sec {z-index: 100;} */
/* main #sec1 #div1 {}
main #sec1 #div2 {}
main #sec1 #div3 {}
main #sec1 #div4 {} */
main #sec1 #div5 {background-image: url(images\imgdesk\image-graphic-design.jpg);}
main #sec1 #div6 {background-image: url(images\imgdesk\image-photography.jpg);}

/* main #sec2 #div1 {}
main #sec2 #div2 {}
main #sec2 #div3 {} */

footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        /* justify-items: center; */
        background-color:rgb(130, 218, 240);
        margin-top: 10% 0% 10% 0%;}

