body {  zoom: 30%;
        width: 95%;
        font-family: "Barlow", sans-serif;
        margin: auto;
        font-size: 60px;
      }
      
      h1 h2 h3 h4 h5 {
        font-family: "Fraunces";
        font-weight: bold;
      }
      
      header {
        color: white;
      }
      header #imgheader {
        background-color: #3ebfff;
        background-size:0vw ;
        display: flex;
        justify-content: center;
        margin: auto;
        position: relative;
        z-index: index 1;
      }
      .creative {
        justify-content: center;
        margin-bottom: -60rem;
        position: absolute; 
        z-index: index 2;
      }
      
      /* h1 {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
      } */

      #we {
        text-align: center;
        /* display: flex;
        justify-content: center; */
        position: absolute; 
        z-index: index 3;
      }

        
      
       .menu {
        
        display: flex;
        justify-content: space-between;
        background-color: #3ebfff;
        padding: 10px 30px;
      }
      .links {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        gap: 6rem;
      }
      a {
        text-decoration: none;
      }
      .icon-arrow-down {
        width: 5rem;
        height: 10rem;
      }
      li a {
        color: white;
        font-size: 3rem;
      }
      #contact {
        color: white;
        background-color: #83d2fa;
        border-radius: 5rem;
        padding: 1rem 2rem;
      }
      #sec1 {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        
      }
      .transform {
        background-image: url(images/imgdesk/image-transform.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 70rem;
      }
      .stand {
        background-image: url(images/imgdesk/image-stand-out.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 70rem;
      }
      .graphic {
        background-image: url(images/imgdesk/image-graphic-design.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 70rem;
      }
      .photography {
        background-image: url(images/imgdesk/image-photography.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 70rem;
      }
      
      footer {
        display: flex;
        justify-content: center;
        background-color: rgb(130, 218, 240);
        color: white;
      }
      /* header #sec {z-index: 100;} */
      /* main #sec1 {background-image: url();}
      main #sec2 {background-image: url(images\imgdesk\image-transform.jpg);}
      main #sec3 {background-image: url(images\imgdesk\image-stand-out.jpg);}
      main #sec4 {background-image: url();}
      main #sec5 {background-image: url(images\imgdesk\image-graphic-design.jpg);}
      main #sec6 {background-image: url(images\imgdesk\image-photography.jpg);}
      footer section {justify-items: center ;
                      background-color:rgb(130, 218, 240);
                      margin-top: 10% 0% 10% 0%;} */
